container_commands:
  01_collectstatic:
    command: 'python manage.py collectstatic --settings=core.settings --noinput'
  01_migrate:
    command: 'python manage.py makemigrations'
    leader_only: true
  02_migrate:
    command: 'python manage.py migrate --noinput --fake'
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
