<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <!-- styles -->
</head>

<body>
    <div id="content"></div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">
        var realPython = React.createClass({
        render: function() {
          return (<div className="hp_overlay">
            <div className="mainop">
                <div className="d-a-t-a-a-g-o-r-a-2">
                    DATAAGORA
                </div>
                <div className="hom_caption">
                    A platform where companies can buy data from people like you.
                </div>
                <div className="hom_buttons">
                    <form id="myForm" action="/decide" method="post">
                    <button className="buy_data" type="submit" name='decide' value='buy'>BUY DATA</button>
                    <button className="sell_data" type="submit" name="decide" value="sell">SELL DATA</button>
                    </form>
                </div>
            </div>
        </div>);
        }
      });
      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );
    </script>
    
    <!-- <div id="content"></div> -->
   
</body>

</html>